body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,  #23a6d5, #23a6d5, #23a6d5, #23a6d5,#23a6d5,#23a6d5, #23a6d5, #23a6d5, #23a6d5, #23a6d5);
    background-size: 400% 400%;
    animation: Gradient 40s ease infinite;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 10px;
    height: 10px;
    border: solid 1px #23a6d5;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 25s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  /* .cube:nth-child(2) {
    animation-delay: 10s;
    left: 25vw;
    top: 40vh;
  } */
  /* .cube:nth-child(3) {
    animation-delay: 30s;
    left: 75vw;
    top: 40vh;
  } */
  .cube:nth-child(4) {
    animation-delay: 14s;
    left: 90vw;
    top: 10vh;
  }
  /* .cube:nth-child(5) {
    animation-delay: 16s;
    left: 15vw;
    top: 85vh;
  } */
  /* .cube:nth-child(6) {
    animation-delay: 18s;
    left: 5vw;
    top: 40vh;
  } */
  /* .cube:nth-child(7) {
    animation-delay: 20s;
    left: 90vw;
    top: 90vh;
  } */
  /* .cube:nth-child(8) {
    animation-delay: 22s;
    left: 100vw;
    top: 40vh;
  } */
  /* .cube:nth-child(9) {
    animation-delay: 24s;
    left: 10vw;
    top: 10vh;
  } */
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }


/* code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
} */

#root {
    flex-grow: 1;
    display:flow-root;
    justify-content: center;
    align-items: center;
}

.rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* .contact {
    display: block;
    margin-left: auto;
    margin-right: auto;    
} */

li {
    padding:10px;
    color: white
}

.App {
   width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

/* .contact {
    width: 80%;
    align-items: center;
    flex-grow:1;
    display: flex;
    justify-content: center;
} */

.resume {
    box-shadow: 0 0 10px 10px  rgb(171, 171, 171);
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
    width: fit-content;
block-size: fit-content;
}

.col-sm-12  p{
    color: white;
}
.about {
    box-shadow: 0 0 10px 10px rgb(171, 171, 171);
}
.about p {
    color: white;
}
.navigation {
    box-shadow: 0 0 10px 10px rgb(171, 171, 171);
}
/* .contact .container {
    box-shadow: 0 0 10px 10px rgb(171, 171, 171);
} */

img {
    box-shadow: 0 0 10px 10px rgb(171, 171, 171);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: auto;
}

img:hover {
    box-shadow: 0 0 10px 10px rgb(163, 255, 3);
}

 #dv {
  height: 600px;
  width: 500px;
 }
.contact .container .row .img img:hover {
    /* height: 300px; */
    width: auto;
    position:relative;   
    bottom: 600px;
    opacity: 5;
    bottom: 1%;
    box-shadow: 0 0 10px 10px rgb(163, 255, 3);
}
.about p{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
}
.p {
    height: 350px;
    flex-grow:1;   
    float: right;
    text-align: center; 
   
}
p{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);  
}

.about h1{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
}
h1 {
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);  
}

h3 {
  color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
}

h5 {
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
}

h6 {
  text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
}
.fas {
    color:rgb(163, 255, 3);
    font-size: 14px;
}

i   {
    line-height: var(--h);
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
background: 
    linear-gradient(#fe0101 0 0) 
    bottom/100% var(--_d, 0) no-repeat;
    overflow: hidden;
    transition: 0.6s
}

i:hover {
    --_d: 100%;
    --_t: 0;
    --_c: rgb(255, 250, 250);
}

.Ryan {
    color:rgb(163, 255, 3);
}



/* .transition-fade {
    opacity: 1;
    transition: 500ms;
} */

i.fab fa-js-square{
    color:purple;
}

.about{
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
}

body {
    overflow-x: hidden;
  }
  
  .transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
  }
  
  html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
  }
  
  html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
  }
  
  .transition-swipe {
    transition: 500ms;
    transform: translateY(0);
  }
  
  html.is-animating .transition-swipe {
    transform: translateY(100px);
  }

 #wm{
  height: 400px;
  width: 100%;
 }
  
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 }

 .emblem {
  display: inline;
padding: 10px;
font-size: 47px;
margin-left: auto;
margin-right: auto;
 }