body {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
    box-sizing: border-box;
    min-height: auto;
    
    max-width:100%;
    column-width: 10%;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
  
  text-align: center;
    
  }
  .App {

     
     flex-direction: column;
     
     align-items: center;    
     text-align: center;
 }

 #root {
  width: 100%; 
}

  .container-fluid{    
    padding: 0;
    width: auto;   
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(90deg ,#ffffff, #8edbf7);
    background-size: 1500% 1500%;
    animation: Gradient 30s ease infinite;
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
    transform-style: preserve-3d;
  }
   
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

li {
    padding:10px;
    color: white
}

.resume {
    box-shadow: 0 0 10px 10px  #005878;
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
    background: linear-gradient(90deg ,#01574a, #005878);
    background-size: 1500% 1500%;
    animation: Gradient 10s ease infinite;
    position: relative;
    padding:0;
    margin:0px;
    transform-style: preserve-3d;
border-radius: 25px;
}

img {
    box-shadow: 0 0 10px 10px rgb(171, 171, 171);
     border-radius: 25px;
}

img:hover {
    box-shadow: 0 0 10px 10px rgb(163, 255, 3);
}

 #dv {
  height: auto;
  width: 40%;
 }

.about p{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
    font-size: 94px;
    
}

.about p {
  color: white;
  font-size: 20px;
}

p{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255); 
    
}

.about h1{
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
}
h1 {
  color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);  
    font-family: 'Shalimar', cursive;
}

h3 {
  color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171); 
}

h5 {
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
}

h6 {
  text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
}
.fas {
    color:rgb(163, 255, 3);
    font-size: 14px;
}

i   {
    line-height: var(--h);
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
background: 
    linear-gradient(#fe0101 0 0) 
    bottom/100% var(--_d, 0) no-repeat;
    overflow: hidden;
    transition: 0.6s
}

i:hover {
    --_d: 100%;
    --_t: 0;
    --_c: rgb(255, 250, 250);
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
}

i.fab fa-js-square{
    color:purple;
}

 
.contactform{
  color:rgb(163, 255, 3);
  text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
  border-radius:  25px;
}
  
  .transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
  }
  
  html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100vw);
  }
  
  html.is-leaving .transition-fade {
    opacity: 1;
    transform: translateX(100px);
  }
  
  .transition-swipe {
    transition: 500ms;
    transform: translateY(0);
  }
  
  html.is-animating .transition-swipe {
    transform: translateY(100px);
  }

 #wm{
  display: flex;
  height: auto;
  width: 60%;
 }
  
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 }

 .emblem {
  display: inline;
padding: 10px;
font-size: 47px;
margin-left: auto;
margin-right: auto;
 }

 .navigation{
  border-radius: 0 0 25px 25px;
  width: 95%;  
  box-shadow: 0 0 10px 10px #005878;
  margin-left: auto;
  margin-right: auto;
  background-color: #005878;    
 }
 
 .about{
  border-radius: 25px;
  width: 95%;
  box-shadow: 0 0 10px 10px #005878;
  color:rgb(163, 255, 3);
  text-shadow: 1px 1px 2px rgb(0, 85, 255), 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);  
  margin-left: auto;
  margin-right: auto;
  display:flexbox;
  background-color: #005878;
  

 }

 .Contact{
  height: auto;
  width: 100%;
  
 }
 .home{
  height: auto;
  width: 100%;
 }

.skill{
  height: 100%;
  width: auto;  
}
.resume{
  width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}